*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Open Sans', sans-serif;
  scroll-behavior: smooth;

}
.heading{
font-size: 1.3rem;

}
h6{
  color: gray;
  font-weight: bolder;
}
.container
{
  width: 100%;
  height: 100vh;
}
.container1
{
 
  width: 43%;
 margin-left: 20rem;
 margin-top: 2rem;
 height: fit-content;
 background-color: whitesmoke;
 padding: 2rem 1rem;
 
}
.icons,.price,.time,.enable,.last-cont
{
  display: inline-block;
}
.icons{
  float: right;
  margin-left: 2rem;
  margin-bottom: 2rem;
}
i
{
  font-size: 1rem;
  margin-right: 1rem;
}
.input
{
 
 margin: 1.2rem 2rem;
 background-color: gray;
 width: auto;
margin-left: 4rem;
 margin-top: 2rem;
  border-radius: 1rem;
  height: 3rem;
 
  

}
.value
{

font-size: 2vw;





}
#value1
{font-size: 2vw;
 float: right;
  margin-left: 6rem;}
#value2
{
  float: right;
  margin-right: 1rem;
  font-size: 2vw;
}

.right
{
  float: right;
  margin-top: -1rem;
  
}
.price{
  background-color: lightgray;
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 0rem 1rem;
  font-weight: bolder;
  border-radius: 0.3rem;
}

h5{
  margin-top: 1rem;
}
.time{
  background-color: lightgray;
  font-size: 1 rem;
  margin-left: 1rem;
  width: 4rem;
  border-radius: 0.3rem;
  height: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.roi
{
  float: right;
  
}
.map-heading
{
  text-align: center;
  padding-top: 0.4rem;
}
#fontawe1
{
  margin-left: 12rem;
  font-size: 1.8rem;
 
}
.hide
{
  text-align: center;
  margin-top: 2rem;
  
  margin-bottom: 1rem;
}
.cake
{
  float: right;
  margin-bottom: 2rem;
}
#percent
{
float: right;
font-weight: bolder;
color:yellow;
}
#apy
{
  font-weight: bolder;
}
li
{
  color: gray;
  font-size: 0.9rem;
  font-weight: bolder;
}

.time:first-child
{
  background-color: yellow;
  font-weight: bolder;
}
.valuetxt
{
 margin-right: 2rem;
width: 100%;
float: right;
}
.map-heading:first-child
{
  color: black;
  font-weight: bolder;
}
#fontawe2
{
  margin-left: 1rem;
}